<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generátor bitcoinovách adres</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="http://localhost:4000/address" method="POST">
    <input type="submit" value="GENEROVAT ADRESU" class="text-white w-1/2 h-10 rounded-xl left-1/4 mt-20 absolute" style="background: #f2a900;">
    </form>
</body>
</html>